<%- include("./partials/Header") %>

<div class="m-0 p-0 w-full h-screen bg-black text-white">
    <div class="h-4 w-full"></div>
    <h1 class="font-mono text-2xl text-center">
        Hello World
    </h1>
</div>